* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --font: "montserrat"
}

body {
    background-image: url(../img/bg\ \(2\).png);
    width: 100%;


}

.fundo {
    width: 50%;
    height: 50%;
    position: absolute;
    color: azure;
}


h1 {
    font-family: var(--font);
    font-weight: 900;
    font-size: 35px;
    width: 70%;
    text-align: center;
    margin-left: 70px;
    margin-top: 30px;

}

form {
    /* Apenas para centralizar o form na página */
    margin: 0 auto;
    width: 550px;
    height: 480px;
    /* Para ver as bordas do formulário */
    padding: 3em;
    border-radius: 70px;
    margin-top: 140px;
    background-color: #ffff;

}

.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-family: var(--font);
    font-size: large;
}

.id {
    font-family: var(--font);
    font-size: 50px;
}

.idcaixa {
    margin-top: 35px;
    border: 3px solid black;
    border-radius: 40px;
    height: 70px;
    width: 380px;
    text-align: center;
    margin-left: 10%;
    font-family: var(--font);
    font-size: 25px;

}

.time {
    font-family: var(--font);

}

.idtime {
    margin-top: 35px;
    border: 3px solid black;
    border-radius: 40px;
    height: 70px;
    width: 380px;
    text-align: center;
    margin-left: 10%;
    font-family: var(--font);
    font-size: 25px;
}


.senha {
    font-family: var(--font);

}

.idsenha {
    border: 3px solid black;
    border-radius: 40px;
    height: 70px;
    width: 380px;
    margin-left: 10%;
    text-align: center;
    margin-top: 10%;
    font-family: var(--font);
    font-size: 25px;
}



.bot {

    height: 85%;
    margin-left: -65%;
    margin-top: -60%;

}




.logovw {
    display: flex;
    justify-content: center;
    margin-top: -21%;
    filter: drop-shadow(10px 10px 10px rgb(138, 134, 134));

}

.acessar {
    display: flex;
    box-sizing: border-box;
    width: 190px;
    height: 50px;
    margin-left: 130px;
    font-family: var(--font);
    font-weight: 900;
    font-size:x-large;
    border-radius: 40px;
    border: solid rgb(113, 217, 248);
    background: linear-gradient(90deg, #01b0f1, #35BDF5, #B1DBFF);
    margin-top: -10%;
    color: black;
    justify-content: center;
    text-decoration: none;
    align-items: center;


}


h2 {
    font-family: var(--font);
    font-size: small;
    color: white;
    margin-top: 50px;
    margin-left: 650px;
    font-weight: 300;
}

.clique {
    font-family: var(--font);
    font-size: small;
    color: white;
    margin-top: -16px;
    margin-left: 800px;
    font-weight: 700;

}